#savedlisttitle {
    font-size: 24px
}

#createnew {
    font-size: 18px
}

#increase {
    border-left: 0px
}

#decrease {
    border-right: 0px
}

.lisaved {
    border-bottom: 1px solid #ccc;
    height: 35px;
    text-align: left;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    line-height: inherit;
    padding: 5px
}

.liactive {
    background-color: #729133;
    color: #fff;
    
}

form {
    
    margin: 0 auto;
    text-align: center;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 32.18px;
    text-align: center;
    vertical-align: middle;
    padding: 3px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    border: solid 1px #729133;
    background-color: #f2f2f2;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 2px;
}

form #increase {
    margin-left: -4px;
    border-radius: 2px;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qtybtn::after {
    margin-left: 1.255em !important;
}

.cart-icon {
    position: fixed;
    top: 30px;
    right: 175px !important;
    z-index: 2;
    top: 14px;
    right: 130px;
    height: 50px;
    width: 50px;
    background: url()no-repeat center center;
}

.cart-icon #totalItems {
    position: absolute;
    top: 0px;
    right: 13px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    background-color: #FAA519;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.2s 0s;
    -moz-transition: -moz-transform 0.2s 0s;
    transition: transform 0.2s 0s;
}

.qtyincrement {
    width: 96px;
    height: 32px;
    border-radius: 5px;
    border: solid 1px #979797;
}

.Groceries {
    width: 194px;
    height: 32px;
    opacity: 0.8;
    
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4c4c4e;
}

.Final-Price {
    margin-top: 12px !important;
    
    height: 16px;
    opacity: 0.8;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #4c4c4e;
}

.Product {
    opacity: 0.8;
    /*font-family: Assistant;*/
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4c4c4e;
    
}

.price {
    
    height: 24px;
    opacity: 0.8;
    
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4c4c4e;
}

.smprice {
    
    height: 16px;
    opacity: 0.8;
    
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33 !important;
    letter-spacing: normal;
    color: #4c4c4e;
}

.deliverydate {
    
    height: 16px;
    opacity: 0.8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4c4c4e;
}

.qtybtn {
    width: 80px;
    height: 35px;
    opacity: 0.8;
    border-radius: 5px;
    background-color: #729133 !important;
}

#NetReceivable {
    font-weight: bold !important
}

#imgdeliveryDate {
    width: 100%
}

#imgdeliveryDate #imgtruck {
    width: 10%
}

#imgdeliveryDate #Date {
    width: 90%
}

#imgdeliveryDate #Date h4 {
    float: right
}

#ddldropdown .dropdown-item {
    color: #fff !important
}

.inputQty {
    border-left: 0px;
    border-right: 0px
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
    .qtybtn {
        width: 50px !important;
    }

    .groceriy-list-item-3 a {
        font-size: 11px !important;
    }

    #increase {
        border-left: 0px
    }

    #decrease {
        border-right: 0px
    }

    .inputQty {
        width: 24px !important;
        border-left: 0px;
        border-right: 0px;
        
        height: 30px;
        padding-bottom: 3px;
        text-align: center;
        margin-right: -3px !important;
        margin-left: -3px !important;
        background-color: #f2f2f2;
    }

    #increase {
        width: 19px !important
    }

    .value-button {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0px;
        width: 24px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        padding: 3px 0;
        background: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 2px;
        border: solid 1px #729133;
        background-color: #f2f2f2;
    }
}


#ddldropdown {
    min-width: 78px !important;
    background-color: #729133 !important;
}

.groceriy-list-text {
    width: 75%;
}

.groceriy-list-item-3 a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #4785fe;
}
#savedlisttitle {
    font-size: 24px
}

#createnew {
    font-size: 18px
}

#increase {
    border-left: 0px
}

#decrease {
    border-right: 0px
}

.lisaved {
    border-bottom: 1px solid #ccc;
    height: 35px;
    text-align: left;
    /*border-radius: 5px;*/
    text-transform: capitalize;
    font-size: 16px;
    /*margin-bottom: 13px;*/
    font-weight: normal;
    line-height: inherit;
    padding: 5px
}

.liactive {
    background-color: #729133;
    color: #fff;
    /*padding: 6px 18px;*/
}

form {
    /*width: 300px;*/
    margin: 0 auto;
    text-align: center;
    /*padding-top: 50px;*/
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 32.18px;
    text-align: center;
    vertical-align: middle;
    padding: 3px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    border: solid 1px #729133;
    background-color: #f2f2f2;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 2px;
}

form #increase {
    margin-left: -4px;
    border-radius: 2px;
    /*border-radius: 0 8px 8px 0;*/
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.qtybtn::after {
    margin-left: 1.255em !important;
}

.cart-icon {
    position: fixed;
    top: 30px;
    right: 175px !important;
    z-index: 2;
    top: 14px;
    right: 130px;
    height: 50px;
    width: 50px;
    /* background: url("../Assets/img/cart-empty.png") no-repeat center center; */
}

.cart-icon #totalItems {
    position: absolute;
    top: 0px;
    right: 13px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    background-color: #FAA519;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.2s 0s;
    -moz-transition: -moz-transform 0.2s 0s;
    transition: transform 0.2s 0s;
}

.qtyincrement {
    width: 96px;
    height: 32px;
    border-radius: 5px;
    border: solid 1px #979797;
}

.Groceries {
    width: 194px;
    height: 32px;
    opacity: 0.8;
    /*font-family: Assistant;*/
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4c4c4e;
}

.Final-Price {
    margin-top: 12px !important;
    /*width: 75px;*/
    height: 16px;
    opacity: 0.8;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #4c4c4e;
}

.Product {
    opacity: 0.8;
    /*font-family: Assistant;*/
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4c4c4e;
    /*margin-top: 10px;*/
}

.price {
    /*width: 102px;*/
    height: 24px;
    opacity: 0.8;
    /*font-family: Assistant;*/
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #4c4c4e;
}

.smprice {
    /*width: 65px;*/
    height: 16px;
    opacity: 0.8;
    /*font-family: Assistant;*/
    font-size: 12px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33 !important;
    letter-spacing: normal;
    color: #4c4c4e;
}

.deliverydate {
    /*width: 110px;*/
    height: 16px;
    opacity: 0.8;
    /*font-family: Assistant;*/
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4c4c4e;
}

.qtybtn {
    width: 80px;
    height: 35px;
    opacity: 0.8;
    border-radius: 5px;
    background-color: #729133 !important;
}

#NetReceivable {
    font-weight: bold !important
}

#imgdeliveryDate {
    width: 100%
}

#imgdeliveryDate #imgtruck {
    width: 10%
}

#imgdeliveryDate #Date {
    width: 90%
}

#imgdeliveryDate #Date h4 {
    float: right
}

#ddldropdown .dropdown-item {
    color: #fff !important
}

.inputQty {
    border-left: 0px;
    border-right: 0px
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
    .qtybtn {
        width: 50px !important;
    }

    .groceriy-list-item-3 a {
        font-size: 11px !important;
    }

    #increase {
        border-left: 0px
    }

    #decrease {
        border-right: 0px
    }

    .inputQty {
        width: 24px !important;
        border-left: 0px;
        border-right: 0px;
        /* padding-bottom: 0px !important; */
        height: 30px;
        padding-bottom: 3px;
        text-align: center;
        margin-right: -3px !important;
        margin-left: -3px !important;
        /*border: solid 1px #729133;*/
        background-color: #f2f2f2;
    }

    #increase {
        width: 19px !important
    }

    .value-button {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0px;
        width: 24px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        padding: 3px 0;
        background: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 2px;
        border: solid 1px #729133;
        background-color: #f2f2f2;
    }
}


#ddldropdown {
    min-width: 78px !important;
    background-color: #729133 !important;
}

.groceriy-list-text {
    width: 75%;
}

.groceriy-list-item-3 a {
    /*width: 82px;*/
    /*height: 16px;*/
    /*opacity: 0.2;*/
    /*font-family: Assistant;*/
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #4785fe;
}